@font-face {
  font-family: AkrobatBlack;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-Black.ttf');
}

@font-face {
  font-family: AkrobatBold;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-Bold.ttf');
}

@font-face {
  font-family: AkrobatExtraBold;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-ExtraBold.ttf');
}


@font-face {
  font-family: AkrobatLight;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-Light.ttf');
}

@font-face {
  font-family: AkrobatExtraLight;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-ExtraLight.ttf');
}


@font-face {
  font-family: AkrobatRegular;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-Regular.ttf');
}


@font-face {
  font-family: AkrobatSemiBold;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-SemiBold.ttf');
}

@font-face {
  font-family: AkrobatThin;
  src: url('https://dynorp.eu/images/utils/fonts/Akrobat-Thin.ttf');
}

#rental {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  display: none;
  zoom: 1.5;
  /* justify-content: center; */
  /* align-items: center; */
}

/* inset 1. = top,
inset 2. = right,
inset 3. = bottom,
inset 4. = left */

.bg{
  background-color: #20242f;
  inset: 0% 60% 0% 0%;
  opacity: 0.8;
  position: absolute;
}

.header{
  font-family: AkrobatExtraBold;
  font-size: 20px;
  color: #bbfe3f ;
  text-shadow: 0px 0px 10px #bbfe3f ;
  inset: 3.2% 0% 0% 1.5%;
  position: absolute;
}

.alt{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #74786a;
  inset: 3.4% 0% 0% 0%;
  position: absolute;
  padding: 20px;
  opacity: 0.5;
}

.search-input input{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #74786a;
  inset: 3.5% 70% 94% 12%;
  position: absolute;
  padding: 5px;
  opacity: 0.5;
  border: none;
  background-color: rgba(67, 68, 64, 0.5);
  outline: none;
}

.search-input i{
  color: #bbfe3f ;
  position: absolute;
  inset: 4% 24% 34% 28.5%;
  z-index: 2;
  font-size: 0.6rem;
} 

.exit{
  inset: 3.6% 65% 94% 31%;
  border-left: 1px solid rgb(255, 254, 254,0.1);
  border-top: 1px solid rgb(255, 254, 254,0.1);
  border-bottom: 1px solid rgb(255, 254, 254,0.1);
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  color: rgb(255, 254, 254,0.4); 
  position: absolute;
  font-family: AkrobatLight;
}

.category-box{
  top: 10%;
  left: 1.5%;
  right: 89%;
  bottom: 5%;
  overflow: initial;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  align-content: flex-start;
  flex-wrap:wrap;
  overflow: scroll;
  /* flex-direction: column; */
  z-index: 2;
}

.category-box .item{
  position: relative;
  width: 100%;
  height: 25px;
  background-color: rgba(67, 68, 64, 0.3);
  margin-top: 0.5rem;
  display: flex;
  border-radius: 0.1rem;
  align-items: start;
  justify-content: end;
  overflow: initial;
}

.category-box .item .name{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #5c5f54;
  inset: 5% 0% 0% 13%;
  position: absolute;
  padding: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.category-box .item i{
  color: #54595f;
  position: absolute;
  top: 27%;
  left: 5%;
  z-index: 2;
  font-size: 0.6rem;
}

.category-box .item:hover{
  color: #bbfe3f ;
  background-color: rgba(54, 66, 9, 0.5);
  border: 1px solid #74c715;
}
.category-box .item:hover i{
  color: #bbfe3f ;
}

.category-box .item:hover .name{
  color: #bbfe3f ;
}

.car-box{
  top: 10.5%;
  left: 12%;
  right: 60%;
  bottom: 21%;
  overflow: initial;
  position: absolute;
  display: flex;
  justify-content: start;
  align-content: flex-start;
  flex-wrap:wrap;
  z-index: 2;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.car-box .car-item{
  position: relative;
  width: 30%;
  height: 110px;
  background-color: rgba(67, 68, 64, 0.3);
  margin-top: 0.2rem;
  display: flex;
  border-radius: 0.1rem;
  justify-content: start;
  overflow: initial;
  margin-left: 0.2rem;
  opacity: 1;
  margin-top: 0.2rem;
  transition-duration: 0.5s;
}

.car-box .car-item:hover{
  color: #bbfe3f ;
  background-color: rgba(54, 66, 9,0.5);
  border: 1px solid #74c715;
}

.car-box .car-item .car-name{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #5c5f54;
  inset: 0% 0% 0% 3%;
  position: absolute;
  padding: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.car-box .car-item .car-day{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #616163;
  inset: 75% 0% 0% 3%;
  position: absolute;
  padding: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.car-box .car-item .car-price{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: white;
  inset: 75% 0% 20% 66%;
  font-weight: lighter;
  position: absolute;
  padding: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.car-box .car-item .car-line{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  color: #616163;
  inset: 94% 5% 5% 71%;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #87bd54;
  box-shadow: 0px 0px 2px #c9ec06;
}

.car-box .car-item .car-img img{
  position: absolute;
  width: 70%;
  height: 50%;
  top: 23%;
  left: 14%;
  opacity: 1;
  border-radius: 0.1rem;
  transition-duration: 0.5s;
  cursor: pointer;
}

.rent-box{
  top: 80%;
  left: 2%;
  right: 62%;
  bottom: 15%;
  background-color: rgba(66, 69, 59, 0.5);
  position: absolute;
}

.rent-box .rent-header{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  left: 3%;
  top: 15%;
  color: #c9ec06;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.rent-box .rent-alt{
  font-family: AkrobatLight;
  font-size: 10px;
  left: 3%;
  font-weight: bold;
  top: 45%;
  color: #74786a;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.rent-box .day-change-box{
  top: 20%;
  left: 70%;
  right: 3%;
  bottom: 15%;
  background-color: rgba(66, 69, 59,0.5);
  position: absolute;
  z-index: 2;
  overflow: scroll;
}

.rent-box .right-box{
  top: 20%;
  left: 70%;
  right: 26%;
  bottom: 15%; 
  background-color: rgba(114, 116, 109, 0.5);
  position: absolute;
  z-index: 10;
}

.rent-box .right-box i{
  color: rgb(255, 254, 254,0.4);
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 2;
  font-size: 0.6rem;
  z-index: 15;
  cursor: pointer;
  transition-duration: 0.5s;
}

.rent-box .right-box i:hover{
  color: rgba(95, 197, 11, 0.8);
}

.rent-box .left-box{
  top: 20%;
  left: 93%;
  right: 3%;
  bottom: 15%; 
  background-color: rgba(114, 116, 109, 0.5);
  position: absolute;
  z-index: 10;
}

.rent-box .left-box i{
  color: rgb(255, 254, 254,0.4);
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 2;
  font-size: 0.6rem;
  z-index: 15;
  cursor: pointer;
  transition-duration: 0.5s;
}

.rent-box .left-box i:hover{
  color: rgba(95, 197, 11, 0.8);
}

.rent-box .day-text{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  left: 81%;
  top: 35%;
  color: #c9ec06;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.payment-text{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  left: 2%;
  top: 86%;
  text-shadow: 0px 0px 10px #bbfe3f ;
  color: #c9ec06;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.total-price{
  font-family: AkrobatExtraBold;
  font-size: 10px;
  left: 36.2%;
  top: 86%;
  text-shadow: 0px 0px 10px #bbfe3f ;
  color: #c9ec06;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.total-text{
  font-family: AkrobatLight;
  font-size: 10px;
  left: 2%;
  top: 89%;
  color: rgb(255, 254, 254,0.4);
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
}

.pay-button{
  top: 92%;
  font-family: AkrobatBold;
  left: 2%;
  right: 80.5%;
  bottom: 5%;
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  color: rgb(255, 255, 255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.pay-button:hover{
  color: #c9ec06;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: #89c715
}